html, body {
    width: 100%;
    height: 100%;
    
    position: absolute;
    overflow: hidden;
    margin: 0;

    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}

.htmlContainer {
    width: 100%;
    height: 100%;
    
    position: absolute;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;   
}

.black {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disablingDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none; 
    z-index:1001;
    opacity:.0; 
}

.gameOverContainer {
    width: 100%;
    height: 100%;
    
    position: absolute;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: rgb(54, 25, 25);
    background: rgba(167, 39, 39, 0.5);

    transition: opacity 0.3s linear;

    color: white;   
}

.countDownContainer {
    width: 100%;
    height: 100%;
    
    position: absolute;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 136px;
    font-weight: 700;

    transition: opacity 0.3s linear;

    color: rgb(0, 0, 0);   

    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.instructions {
    width: 100%;
    height: 100%;
    
    position: absolute;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: rgb(54, 25, 25);
    background: rgba(167, 39, 39, 0.5);

    transition: opacity 0.3s linear;

    color: white;   
}

.flexColumn {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.mouseInstructions {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.margin40 {
    margin: 40px;
}

.margin8 {
    margin: 8px;
}

.bold {
    font-weight: 700;    
    animation: color-change 6000ms infinite;
}

.start {
    box-sizing: border-box;
    justify-content: center;

    cursor: pointer;

    width: 120px;
    height: 120px;
    
    border-radius:50%;
    border: 2px solid rgba(255, 255, 255, 1);
    transition: border-width 0.3s ease-in-out;

    padding: 16px;

    animation: color-change-background 4000ms infinite;
}

.start:hover {
    border: 6px solid rgba(255, 255, 255, 1);
}

.fade {
    opacity: 0.0;
}

.gameOver {
    font-size: 36px;
}

@-webkit-keyframes color-change-background {
    0% { background: rgb(0, 0, 0); }
    50% { background: rgb(0, 20, 37); }
    100% { background: rgb(0, 0, 0); }
}

@-moz-keyframes color-change-background {
    0% { background: rgb(0, 0, 0); }
    50% { background: rgb(0, 20, 37); }
    100% { background: rgb(0, 0, 0); }
}

@-ms-keyframes color-change-background {
    0% { background: rgb(0, 0, 0); }
    50% { background: rgb(0, 20, 37); }
    100% { background: rgb(0, 0, 0); }
}

@-o-keyframes color-change-background {
    0% { background: rgb(0, 0, 0); }
    50% { background: rgb(0, 20, 37); }
    100% { background: rgb(0, 0, 0); }
}

@keyframes color-change-background {
    0% { background: rgb(0, 0, 0); }
    50% { background: rgb(0, 20, 37); }
    100% { background: rgb(0, 0, 0); }
}

/* color-change */

@-webkit-keyframes color-change {
    0% { color: rgb(0, 140, 255); }
    25% { color: rgb(0, 201, 7); }
    50% { color: rgb(255, 191, 0); }
    75% { color: rgb(255, 60, 0); }
    100% { color: rgb(0, 140, 255); }
}

@-moz-keyframes color-change {
    0% { color: rgb(0, 140, 255); }
    25% { color: rgb(0, 201, 7); }
    50% { color: rgb(255, 191, 0); }
    75% { color: rgb(255, 60, 0); }
    100% { color: rgb(0, 140, 255); }
}

@-ms-keyframes color-change {
    0% { color: rgb(0, 140, 255); }
    25% { color: rgb(0, 201, 7); }
    50% { color: rgb(255, 191, 0); }
    75% { color: rgb(255, 60, 0); }
    100% { color: rgb(0, 140, 255); }
}

@-o-keyframes color-change {
    0% { color: rgb(0, 140, 255); }
    25% { color: rgb(0, 201, 7); }
    50% { color: rgb(255, 191, 0); }
    75% { color: rgb(255, 60, 0); }
    100% { color: rgb(0, 140, 255); }
}

@keyframes color-change {
    0% { color: rgb(0, 140, 255); }
    25% { color: rgb(0, 201, 7); }
    50% { color: rgb(255, 191, 0); }
    75% { color: rgb(255, 60, 0); }
    100% { color: rgb(0, 140, 255); }
}

/* loader */

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0% {
        box-shadow: 0 0;
        height: 4em;
    }
    50% {
        box-shadow: 0 -2em;
        height: 5em;
    }
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
}

@keyframes load1 {
    0% {
        box-shadow: 0 0;
        height: 4em;
    }
    50% {
        box-shadow: 0 -2em;
        height: 5em;
    }
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
}
