html {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow: hidden;
    margin: 0;
}

#blocker { 
	position: fixed; 
	
	width: 100%;
	
	padding: 10%;

	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);

	background-color: rgba(0, 0, 0, 0.5);

	text-align: center;

	color: white;
	cursor: pointer;
}

.pointer_wrapper { 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
}